<!-- views/footer.html -->
<footer>
        <p>Erstellt von <a href="https://linoo.ch">Lino</a></p>
          <div class="github">
              <a href="https://github.com/surmatik/Webseite-Weissenberge" target="_blank">
                  <i class="fab fa-github"></i>
                  Surmatik/Webseite-Weissenberge
              </a>
          </div>
</footer>